{% extends 'index.html' %}
{% block navbar %}

 <!-- ======= Mobile nav toggle button ======= -->
 <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
 <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
 <!-- ======= Header ======= -->
 <header id="header" class="d-flex flex-column justify-content-center">

   <nav id="navbar" class="navbar nav-menu">
     <ul>
       <li><a href="/" class="nav-link scrollto active"><i class="bi bi-house"></i> <span>Home</span></a></li>
       <li><a href="#about" class="nav-link scrollto"><i class="bi bi-file-earmark-person"></i> <span>About</span></a></li>
       {% if request.user.is_authenticated %}
       <li><a href="../dashboard/" class="nav-link scrollto"><i class="bi bi-microsoft"></i> <span>dashboard</span></a></li>
       <li><a href="../posts/" class="nav-link scrollto"><i class="bi bi-bookmarks-fill"></i></i> <span>posts</span></a></li>
       <li><a href="../handlelogout/" class="nav-link scrollto"><i class="bi bi-box-arrow-in-left"></i> <span>Logout</span></a></li>
       {% else %}
       <li><a href="signup/" class="nav-link scrollto"><i class="bi bi-book"></i><span>Signup</span></a></li>
       <li><a href="signin/" class="nav-link scrollto"><i class="bi bi-box-arrow-in-right"></i></i> <span>login</span></a></li>
       {% endif %}
     </ul>
   </nav><!-- .nav-menu -->

 </header><!-- End Header -->

 <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex flex-column justify-content-center ">
   <div class="contain">
    <div class="row">
      {% block side %}
      {% endblock side %}
      {% block content %}
      {% endblock content %}
     </div>
   </div>
 </section>

 

 {% endblock %} 